/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
 
/* comon style or utlitis */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
main{
    display: flex;
     flex-direction: column;
     align-items: center;
}
.containers{
    background-color: #FFFFFF;
    margin-top: 21px;
   border-radius: 5px;
    width: 870px;
    padding: 30px ;
}

/* top-playes style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: blue;
    font-size: 24px;
    margin-bottom: 3px;
}
.players{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
     align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;

}
hr{
    border: 1px solid #e61414;;
    margin-bottom: 27px;
}

/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    
    display: flex;
     
   
}
.blog-info{
    margin-left: 16px;
}

.blog .thamnil img{
    width: 224px;
height: 127px;
 
}
.blogtitle{
    font-size: 20px;
}
.blog-athor a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
     
}
/* ----------------------
      course style 
-------------------------- */
.course-baner img{
    width: 224px;
    height: 104px;
}
.fa-star {
  
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.courseinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
   color:  #FF4A60;
}
.corses{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
}
 .course{
      box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
     width: 252px;
     height: 269px;
 }

 /* -------------------
       media quaries 
 ----------------------*/
 /* ------------------------
        mobile-device
-------------------- */
@media only screen and (max-width:688px){
    .containers{
        width: 100%;
    }
    .players, .blogs, .corses{
      
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player, .blog, .course  {
        flex-direction: column;
    }
  
}

/* tablet-device */

@media  only screen and (min-width:688px) and (max-width:992px) {
    .containers{
        width: 100%;
    }
   .players, .corses{
        grid-template-columns: repeat(2, 1fr);
   }
   .blogs{
       grid-template-columns: repeat(1, 1fr);
   }

   .player,  .course{
       flex-direction: column;
   }
}